<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>From:</b>
  <%= @author.from %>
</p>

<p>
  <b>Introduce:</b>
  <%= @author.introduce %>
</p>

<p>
  <b>Viewed count:</b>
  <%= @author.viewed_count %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
